{% set CLIENTE = controller.conteudo.ITENS %}

<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Vendas / <strong class="text-primary small">Finalizar Pedido</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela de checkout para finalizar venda.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-2">
                                    <li class="w-xs-100 d-block-inline d-sm-none"><a href="javascript:void(0);" class="btn btn-white btn-outline-light w-xs-100 d-inline toggle" data-target="userAside"><em class="icon ni ni-cart"></em><span class="d-none d-sm-inline-block">Carrinho</span></a></li> 

                                    {% if authentication.franquias[authentication.franquiaActive].tipo_franquia == 'Loja' %}
                                    <li class="w-xs-100">
                                        <a href="javascript:void(0);" id="btVendaConsumidor" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Venda para Consumidor">
                                            <em class="icon ni ni-user-alt-fill"></em>
                                            <span class="d-none d-sm-inline-block">Consumidor</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    <li class="w-xs-100"><a href="#modalConsultaClientes" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-bs-toggle="modal" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Listagem de Clientes"><em class="icon ni ni-search"></em><span class="d-none d-sm-inline-block">Pesquisar Cliente</span></a></li>
                                    <li class="w-xs-100"><a href="/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/create" class="btn btn-white btn-outline-light w-xs-100 d-inline"><em class="icon ni ni-curve-up-left"></em><span class="d-none d-sm-inline-block">Voltar</span></a></li> 
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->                    
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered">                   
                    <div class="card-inner">
                        <div class="card-head mb-4 block_DadosCliente">
                            <h5 class="card-title mb-0 py-1">Dados Básicos</h5>
                        </div>                         
                        <form method="post" name="formCheckout" id="formCheckout">
                            <div class="row g-4">
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_cpf">CPF</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskCPF" id="C_cpf" name="C_cpf" placeholder="000.000.000-00" value="{{ CLIENTE.CPF }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_nome">Nome</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="C_nome" name="C_nome" placeholder="Nome Completo..." value="{{ CLIENTE.NOME }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_nascimento">Nascimento</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskData" id="C_nascimento" name="C_nascimento" value="{{ CLIENTE.NASCIMENTO }}" placeholder="00/00/0000">
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_sexo">Sexo</label>
                                        <div class="form-control-wrap ">
                                            <select name="C_sexo" id="C_sexo" class="form-control qvSelect2_noSearch" required>
                                                <option></option>
                                                <option value="Feminino" {% if controller.conteudo.ITENS.SEXO == 'Feminino' %}{{ 'selected="selected"' }}{% endif %}>Feminino</option>
                                                <option value="Masculino" {% if controller.conteudo.ITENS.SEXO == 'Masculino' %}{{ 'selected="selected"' }}{% endif %}>Masculino</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_tamanho">Tamanho do Calçado</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="C_tamanho" name="C_tamanho" maxlength="2" placeholder="Ex: 36" value="{{ CLIENTE.TAMANHO }}" required>
                                        </div>
                                    </div>
                                </div>                                                              
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_telefone">Telefone/Celular</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskTelefone" id="C_telefone" name="C_telefone" placeholder="(00) 00000-0000" value="{{ CLIENTE.TELEFONE }}" required>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-8 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_email">E-mail</label>
                                        <div class="form-control-wrap">
                                            <input type="email" class="form-control" id="C_email" name="C_email" placeholder="nome@provedor.com.br" value="{{ CLIENTE.EMAIL }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card-head mt-4 mb-0">
                                        <div class="row w-100">
                                            <div class="col-6 col-md-9">
                                                <h5 class="card-title mb-0 py-1">Dados de Pagamento</h5>
                                            </div> <!-- COL -->
                                            <div class="col-6 col-md-3 d-flex justify-content-end">
                                                <div class="btn-group" aria-label="Modificadores de Formas de Pagamento">
                                                    <button type="button" class="btn btn-secondary" id="btAutoFillPagamentos" data-status="ativado" data-bs-tooltip="tooltip" data-bs-placement="left" title="Auto Preencher Valores - Ativado">
                                                        <em class="icon ni ni-edit-fill"></em>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btFormasPagamentos" data-bs-tooltip="tooltip" data-bs-placement="left" title="Remover Forma de Pagamento" data-acao="remover">
                                                        <em class="icon ni ni-minus-circle"></em>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btFormasPagamentos" data-bs-tooltip="tooltip" data-bs-placement="left" title="Adicionar Forma de Pagamento" data-acao="adicionar">
                                                        <em class="icon ni ni-plus-circle"></em>
                                                    </button>
                                                </div>
                                            </div> <!-- COL -->
                                        </div> <!-- ROW -->
                                    </div>                                     
                                </div>
                                <div class="col-12" id="recebeFormasPagamento">
                                    <div class="row linhaFormaPagamento" data-linha="1">
                                        <div class="col-lg-3 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_metodoPagamento_1">Método de Pagamento</label>
                                                <div class="form-control-wrap ">
                                                    <select name="C_metodoPagamento[]" id="C_metodoPagamento_1" class="form-control qvSelect2_noSearch C_metodoPagamento" required>
                                                        <option></option>
                                                        <option value="Dinheiro">Dinheiro</option>
                                                        <option value="Pix">Pix</option>
                                                        <option value="Cartão Débito">Cartão Débito</option>
                                                        <option value="Cartão Crédito">Cartão Crédito</option>
                                                        <option value="Boleto">Boleto</option>
                                                        <option value="Cheque">Cheque</option>
                                                        <option value="Carnê">Carnê</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_formaPagamento_1">Forma de Pagamento</label>
                                                <div class="form-control-wrap ">
                                                    <select name="C_formaPagamento[]" id="C_formaPagamento_1" class="form-control qvSelect2_noSearch C_formaPagamento" required>
                                                        <option></option>
                                                        <option value="À Vista">À Vista</option>
                                                        <option value="Parcelada">Parcelada</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>                                         
                                        <div class="col-lg-2 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_parcelas_1">
                                                    Parcelas 
                                                    <span class="text-muted recebeValorParcela" style="font-size:68%;">(R$ 0,00)</span>
                                                </label>
                                                <div class="form-control-wrap number-spinner-wrap">
                                                    <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="qv_minus"><em class="icon ni ni-minus"></em></button>
                                                    <input type="number" id="C_parcelas_1" name="C_parcelas[]" class="form-control number-spinner C_parcelas" value="1" min="1" max="1" required>
                                                    <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="qv_plus"><em class="icon ni ni-plus"></em></button>
                                                </div>                                        
                                            </div>
                                        </div> 
                                        <div class="col-lg-2 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_vencimento">Vencimento</label>
                                                <a href="#modalVencimentoExplicacao" data-bs-toggle="modal" data-bs-placement="top" title="Explicação"><em class="icon ni ni-info-fill"></em></a>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control maskData C_vencimento" id="C_vencimento" name="C_vencimento[]" value="{{ "now"|date("d/m/Y") }}" placeholder="00/00/0000" required>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-lg-2 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_valor_1">Valor Total (R$)</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control C_valor maskNumber" name="C_valor[]" id="C_valor_1" placeholder="0,00" autocomplete="off" value="0" data-valueAutoFill="true" required>
                                                </div>
                                            </div>
                                        </div>  
                                        <hr class="my-3 d-block d-sm-none" />
                                    </div> <!-- ROW -->
                                </div> <!-- COl -->
                               
                                <div class="col-12">
                                    <div class="card-head mt-4 mb-0">
                                        <h5 class="card-title">Descontos</h5>
                                    </div>                                     
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="C_descontoTipo">Tipo de Desconto</label>
                                        <div class="form-control-wrap ">
                                            <select name="C_descontoTipo" id="C_descontoTipo" class="form-control qvSelect2_noSearch" required>
                                                <option value="Nenhum" {% if CLIENTE.DESCONTO_TIPO == 'Nenhum' %}{{ 'selected="selected"' }}{% endif %}>Nenhum</option>
                                                <option value="Valor" {% if CLIENTE.DESCONTO_TIPO == 'Valor' %}{{ 'selected="selected"' }}{% endif %}>Valor</option>
                                                <option value="Porcentagem" {% if CLIENTE.DESCONTO_TIPO == 'Porcentagem' %}{{ 'selected="selected"' }}{% endif %}>Porcentagem</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4 col-6 mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="C_desconto">Desconto</label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <input type="text" class="form-control maskNumberAlt" id="C_desconto" name="C_desconto" placeholder="0,00" value="{{ CLIENTE.DESCONTO }}" required>
                                                <div class="input-group-append">
                                                    <button type="button" id="btAplicarDesconto" class="btn btn-outline-primary btn-dim">Aplicar</button>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-12">
                                    <div class="card-head mt-2 mb-0">
                                        <h5 class="card-title">Extras</h5>
                                    </div>                                     
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="vendedor">Vendedor</label>
                                        <div class="form-control-wrap ">
                                            <select name="vendedor" id="vendedor" class="form-control qvSelect2_noSearch" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="status">Status</label>
                                        <div class="form-control-wrap ">
                                            <select name="status" id="status" class="form-control qvSelect2_noSearch" required>
                                                <option value="Concluída">Concluída</option>
                                                <option value="Pendente">Pendente</option>
                                                <option value="Agendada">Agendada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                   
                                
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="observacoes">Observações</label>
                                        <div class="form-control-wrap">
                                            <textarea name="observacoes" id="observacoes" class="form-control no-resize" cols="4" placeholder="Preencha este campo com informações importantes sobre esta venda, se necessário.">{{ CLIENTE.OBSERVACOES }}</textarea>
                                        </div>
                                    </div>
                                </div>                                 

                                <div class="col-12">
                                    <hr />
                                    <input type="hidden" name="formAcao" id="formAcao" value="enviarVenda" />
                                    <input type="hidden" name="idCliente" id="idCliente" value="{{ CLIENTE.ID_CLIENTE }}" />
                                    <input type="hidden" name="idPedido" id="idPedido" value="{{ CLIENTE.ID_PEDIDO }}" />
                                    <input type="hidden" name="qv_url_path" id="qv_url_path" value="{{ url.uri }}" />
                                    
                                    <div class="row">
                                        <div class="col-md-6 order-md-1 order-2 mb-2">
                                            <div class="form-group d-none">
                                                <a href="javascript:void(0);" class="btn btn-lg w-xs-100 btn-secondary mb-2">Deixar Agendada</a>
                                                <a href="javascript:void(0);" class="btn btn-lg w-xs-100 btn-secondary mb-2">Venda Pendente</a>
                                            </div> <!-- FORM GROUP -->        
                                        </div>
                                        <div class="col-md-6 order-md-2 order-1 mb-2">
                                            <div class="form-group text-end">
                                                <button type="submit" class="btn btn-lg w-xs-100 btn-primary">Finalizar Venda</button>
                                            </div> <!-- FORM GROUP -->
                                        </div>
                                    </div> <!-- ROW -->
                                </div>
                            </div>
                        </form>                          
                    </div>
                </div>
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

<div class="fixed-bottom d-none" id="alertaFormasPagamento">
    <div class="alert alert-fill alert-danger alert-icon" role="alert">
        <em class="icon ni ni-alert-circle"></em> 
        <strong>A somatória das Formas de Pagamento</strong> não batem com o valor total da venda. Por favor revise os valores digitados.
    </div> 
</div>

<!-- select region modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="modalConsultaClientes">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#modalConsultaClientes" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-0">Consulta de Clientes</h5>
                <div class="row mt-3">
                    <div class="col-12">

                        <div class="form-control-wrap mb-2">
                            <div class="input-group">
                                <input type="text" name="QV_buscadorClientes" id="QV_buscadorClientes" class="form-control" placeholder="Digite o Nome ou CPF do Cliente...">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-success btn-dim" id="BT_enviarBuscadorCliente" data-idCliente>
                                        <em class="icon ni ni-check-thick"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <ul class="custom-control-group custom-control-vertical custom-control-stacked w-100" id="recebeConsultaClientes">
                        </ul>                            
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- select region modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="modalVencimentoExplicacao">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#modalVencimentoExplicacao" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-0">Vencimento de Parcelas</h5>
                <div class="row mt-3">
                    <div class="col-12">
                        <p>Caso sua venda possua <b>mais de uma parcela</b>, o <b>dia</b> escolhido para vencimento <b>será o mesmo</b> para os meses subsequentes.</p>
                        <p>Desta maneira será possível enxergar no  <b>Módulo Financeiro</b>, todos os <b>vencimentos futuros</b> provenientes desta venda.
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- Modal Alert -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalVendaFinalizada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Venda Finalizada!</h4>
                    <div class="nk-modal-text">
                        <div class="caption-text">Financeiro  e Estoque foram atualizados.</div>
                        <span class="sub-text-sm">Confira as movimentações de estoque <a href="/franquia/estoque/list">clicando aqui.</a></span>
                    </div>
                    <div class="nk-modal-action">
                        {% if authentication.franquias[authentication.franquiaActive].emissaoFiscal == true %}
                        <a href="javascript:(0);" id="btEmitirDocumentoFiscal" data-idVenda="" class="btn btn-lg btn-mw btn-secondary"><em class="icon ni ni-printer me-1"></em> Cupom Fiscal</a>
                        {% endif %}
                        <a href="#" class="btn btn-lg btn-mw btn-primary" data-bs-dismiss="modal">Fechar</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p><b>Vitrine QV</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/franquia/vendas/vendas.js"></script>
<script src="/assets/js/views/franquia/vendas/shopcart.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){

    // ACIONADOR DO METODO
	qv_checkout.init("#formCheckout");
    
    // FUNCOES
    carregarShopCart();

    // GATILHOS
    $("#idCliente").trigger('change');

});
</script>