<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">

            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Produtos / Impostos / <strong class="text-primary small">Consulta</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela para consulta de impostos dos produtos.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-2">
                                    <li class="w-xs-100"><a href="/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/create" class="btn btn-white btn-outline-light w-xs-100 d-inline"><em class="icon ni ni-plus-circle"></em><span>Criar Novo Imposto</span></a></li>
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                            <div class="card-search search-wrap active" data-search="search">
                                <div class="card-body">
                                </div>
                            </div><!-- .card-search -->
                        </div><!-- .card-inner -->
                        <div class="card-inner px-0 pt-0">
                            <div class="table-responsive" style="padding-left:0px; padding-right:0px; overflow: visible !important;">
                                <table class="table-hover nowrap nk-tb-list w-100 general-datatable" data-auto-responsive="false" >
                                    <thead class="head-table">
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col text-center">NOME</th>
                                            <th class="nk-tb-col text-center">PERCENTUAL</th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right">OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for imposto in controller.conteudo %}
                                            <tr class="nk-tb-item">
                                                <td class="nk-tb-col text-center">{{ imposto.name|e}}</td>
                                                <td class="nk-tb-col text-center">{{ imposto.percentage|e }} %</td>
                                                <td class="nk-tb-col text-center nk-tb-col-tools">
                                                    <div class="dropdown">
                                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" data-offset="-8,0"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-xs">
                                                                <ul class="link-list-plain">
                                                                    <li><a href="/produtos/imposto/update/{{ imposto.id|e }}" class="text-primary">Editar</a></li>
                                                                    <li><a href="#" class="text-danger btn_delete_tax" data-id="{{imposto.id|e}}">Excluir</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                </td>
                                            </tr>                                       
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- RESPONSIVE TABLE -->
                        </div><!-- .card-inner -->
                        
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->

        </div> <!-- nk-content-body -->
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/{{ url.parametros.var2 }}.js?ts={{ random(100000, 999999) }}"></script>
