<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">

            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Produtos / Categorias / <strong class="text-primary small">Consulta</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela para consulta de categorias dos produtos.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-2">
                                    <li class="w-xs-100"><a href="/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/create" class="btn btn-white btn-outline-light w-xs-100 d-inline"><em class="icon ni ni-plus-circle"></em><span>Criar Nova Categoria</span></a></li>
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                            <div class="card-search search-wrap active" data-search="search">
                                <div class="card-body">
                                    <div class="search-content">
                                        <input type="search" class="form-control border-transparent form-focus-none ps-0" id="DT_buscador" placeholder="Digite o que deseja buscar...">
                                        <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                    </div>
                                </div>
                            </div><!-- .card-search -->
                        </div><!-- .card-inner -->
                        <div class="card-inner px-0 pt-0">
                            <div class="table-responsive" style="padding-left:0px; padding-right:0px; overflow: visible !important;">
                                <table class="table-hover nowrap nk-tb-list w-100" data-auto-responsive="false" id="responsive-datatable">
                                    <thead class="">
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col">ID</th>
                                            <th class="nk-tb-col">NOME</th>
                                            <th class="nk-tb-col">SLUG</th>
                                            <th class="nk-tb-col">CÓDIGO</th>
                                            <th class="nk-tb-col">STATUS</th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right">OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div> <!-- RESPONSIVE TABLE -->
                        </div><!-- .card-inner -->
                        
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->

        </div> <!-- nk-content-body -->
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/{{ url.parametros.var2 }}.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){
	qv_list.init();
});
</script>