{% set dashboard = controller.conteudo %}
<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="content-page wide-md m-auto">
                <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                    <div class="nk-block-head-content text-center">
                        <div class="nk-block-head-sub"><span>FAQ</span></div>
                        <h2 class="nk-block-title fw-normal">Perguntas Frequentes</h2>
                        <div class="nk-block-des">
                            <p class="lead">Tem algum dúvida? Não consegue encontrar a resposta que procura? Não se preocupe, mande-nos uma mensagem em nosso <a href="javascript:void(Tawk_API.toggle())">chat</a>.</p>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-inner-group">
                            <div class="card-inner px-3 pt-0">                        
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active carregarFAQ" data-categoria="1" data-bs-toggle="tab" href="#tabAccordion">Geral</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link carregarFAQ" data-categoria="2" data-bs-toggle="tab" href="#tabAccordion">Vendas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link carregarFAQ" data-categoria="3" data-bs-toggle="tab" href="#tabAccordion">Clientes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link carregarFAQ" data-categoria="4" data-bs-toggle="tab" href="#tabAccordion">Estoque</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link carregarFAQ" data-categoria="5" data-bs-toggle="tab" href="#tabAccordion">Financeiro</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a class="nav-link carregarFAQ" data-categoria="6" data-bs-toggle="tab" href="#tabAccordion">QV em Casa</a>
                                    </li>         
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabAccordion">

                                        <div id="faqs" class="accordion">

                                            {% for faq in controller.conteudo.ITENS %}
                                            <div class="accordion-item">
                                                <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#faq-q{{ loop.index }}">
                                                    <h6 class="title">{{ faq.pergunta }}</h6>
                                                    <span class="accordion-icon"></span>
                                                </a>
                                                <div class="accordion-body collapse" id="faq-q{{ loop.index }}" data-bs-parent="#faqs">
                                                    <div class="accordion-inner">
                                                        {{ faq.resposta | raw }}
                                                    </div>
                                                </div>
                                            </div><!-- .accordion-item -->
                                            {% endfor %}

                                        </div><!-- .accordion -->

                                    </div> <!-- TAB PANE -->
                                </div> <!-- TAB CONTENT -->
                            </div><!-- .card inner  -->
                        </div><!-- .card inner group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="align-center flex-wrap flex-md-nowrap g-4">
                                <div class="nk-block-content">
                                    <div class="nk-block-content-head px-lg-4">
                                        <h5>Estamos aqui para te ajudar!</h5>
                                        <p class="text-soft">Faça uma pergunta ou abra uma ocorrência de suporte, fique atenta à sua solicitação, relate seu problema com máximo de detalhes possível. Nossa equipe de suporte entrará em contato com você por e-mail.</p>
                                    </div>
                                </div>
                                <div class="nk-block-content flex-shrink-0">
                                    <a href="https://franquia.quintavalentina.com.br/backboard/fms/support/create" target="_blank" class="btn btn-lg btn-outline-primary">Abrir uma Ocorrência</a>
                                </div>
                            </div>
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div><!-- .content-page -->
        </div>
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/franquia/ajuda/faq.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){

    // ACIONADOR DO METODO
    qv_list.init();

});
</script>
