<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">

            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">QV em Casa / <strong class="text-primary small">Consulta</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela para consulta das solicitações de mala de sapatos.<br>
                            <b>Meu link do QV em Casa:</b> <a href="https://qvemcasa.com.br/{{ authentication.franquias[authentication.franquiaActive].slug }}" target="_blank">https://qvemcasa.com.br/{{ authentication.franquias[authentication.franquiaActive].slug }}</a></p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->

            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                            <div class="card-title-group">
                                <div class="card-tools w-90">
                                    <div class="search-content">
                                        <input type="search" class="form-control border-transparent form-focus-none ps-0" name="DT_buscador" id="DT_buscador" placeholder="Digite o que deseja buscar...">
                                        <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                    </div>
                                </div><!-- .card-tools -->
                                <div class="card-tools me-n1">
                                    <ul class="btn-toolbar gx-1">
                                        <li class="btn-toolbar-sep"></li><!-- li -->
                                        <li>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                                    <em class="icon ni ni-filter-alt"></em>
                                                </a>
                                                <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end" id="DT_filtros">
                                                    <div class="dropdown-head">
                                                        <span class="sub-title dropdown-title">Filtros do QV em Casa</span>
                                                    </div>
                                                    <div class="dropdown-body dropdown-body-rg">
                                                        <div class="row gx-6 gy-3">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="overline-title overline-title-alt" for="dataDe">Período (Agendamento)</label>
                                                                    <div class="form-control-wrap">
                                                                        <div class="input-daterange  input-group">
                                                                            <input type="text" class="form-control inputCalendario" name="dataDe" id="dataDe" placeholder="00/00/0000" data-date-format="dd/mm/yyyy" value="{{ "now"|date_modify("-30 day")|date("d/m/Y") }}" />
                                                                            <div class="input-group-addon">até</div>
                                                                            <input type="text" class="form-control inputCalendario"  name="dataAte" id="dataAte" placeholder="00/00/0000" data-date-format="dd/mm/yyyy" value="{{ "now"|date_modify("+30 day")|date("d/m/Y") }}" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>              
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="overline-title overline-title-alt" for="status">Status</label>
                                                                    <select name="status" id="status" class="form-select js-select2">
                                                                        <option value="0">Todas</option>
                                                                        <option value="Pendente">Pendente</option>
                                                                        <option value="Venda">Venda</option>
                                                                    </select>
                                                                </div>
                                                            </div>             
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <button type="button" id="btFiltrarVendas" class="btn btn-secondary d-block w-100">Filtrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .filter-wg -->
                                            </div><!-- .dropdown -->
                        
                                            <div class="dropdown d-none">
                                                <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                                    <em class="icon ni ni-setting"></em>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                    <ul class="link-check">
                                                        <li><span>Mostrar</span></li>
                                                        <li class="active"><a href="#">10</a></li>
                                                        <li><a href="#">20</a></li>
                                                        <li><a href="#">50</a></li>
                                                    </ul>
                                                    <ul class="link-check">
                                                        <li><span>Ordenar</span></li>
                                                        <li class="active"><a href="#">DESC</a></li>
                                                        <li><a href="#">ASC</a></li>
                                                    </ul>
                                                </div>
                                            </div><!-- .dropdown -->
                                                    
                                        </li><!-- li -->
                                    </ul><!-- .btn-toolbar -->
                                </div><!-- .card-tools -->
                            </div><!-- .card-title-group -->
                        </div><!-- .card-inner -->
                        <div class="card-inner px-0 pt-0">
                            <div class="table-responsive" style="padding-left:0px; padding-right:0px; overflow: visible !important;">
                                <table class="table-hover nowrap nk-tb-list w-100" data-auto-responsive="false" id="responsive-datatable">
                                    <thead class="">
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col">ID</th>
                                            <th class="nk-tb-col">DESCRIÇÃO</th>
                                            <th class="nk-tb-col">TELEFONE</th>
                                            <th class="nk-tb-col">PRESENCIAL</th>
                                            <th class="nk-tb-col">AGENDAMENTO</th>
                                            <th class="nk-tb-col">PRODUTOS</th>
                                            <th class="nk-tb-col">STATUS</th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right">OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div> <!-- RESPONSIVE TABLE -->
                        </div><!-- .card-inner -->
                        
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->

        </div> <!-- nk-content-body -->
    </div>
</div>

<!-- MODAL VISUALIZAR ITENS PEDIDO -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" id="modalItensPedido">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-header">
                <h5 class="modal-title">Itens do Pedido</h5>
            </div>            
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="tableProdutos">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="text-center">Foto</th>
                                <th scope="col">Produto</th>
                                <th scope="col" class="text-center">Categoria</th>
                                <th scope="col" class="text-center">Tamanho</th>
                                <th scope="col" class="text-center">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody id="recebeItensPedido">
                        </tbody>
                    </table>
                </div> <!-- RESPONSIVE TABLE -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/franquia/qvemcasa/qvemcasa.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){
	qv_list.init();
});
</script>