{% set dashboard = controller.conteudo %}
<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Dashboard da Minha Operação</h3>
                        <div class="nk-block-des text-soft">
                            <p class="text-dark">Panorama geral da sua unidade franqueada</p>
                        </div>
                    </div><!-- .nk-block-head-content -->                  
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch mb-2">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle p-3">
                            <div class="card-title-group">
                                <div class="card-tools w-100">
                                    <form method="post" name="formFiltros" id="formFiltros">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-lg-5 col-12 mb-2">
                                                <div class="form-group">
                                                    <label class="overline-title overline-title-alt" for="dataDe">Período</label>
                                                    <div class="form-control-wrap">
                                                        <div class="input-daterange  input-group">
                                                            <input type="text" class="form-control inputCalendario" name="dataDe" id="dataDe" placeholder="00/00/0000" data-date-format="dd/mm/yyyy" value="{% if _post.dataDe is not empty %}{{ _post.dataDe|trim }}{% else %}{{ "now"|date_modify("-30 day")|date("d/m/Y")|trim }}{% endif %}" />
                                                            <div class="input-group-addon">até</div>
                                                            <input type="text" class="form-control inputCalendario"  name="dataAte" id="dataAte" placeholder="00/00/0000" data-date-format="dd/mm/yyyy" value="{% if _post.dataAte is not empty %}{{ _post.dataAte|trim }}{% else %}{{ "now"|date("d/m/Y")|trim }}{% endif %}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-12 mb-2">
                                                <label class="overline-title overline-title-alt d-block pb-1">&nbsp;</label>
                                                <button type="submit" class="btn btn-dim btn-outline-light w-xs-100 d-inline">Filtrar</button>
                                            </div>

											<input type="hidden" name="unidades" id="unidades" value="{{ authentication.franquias[authentication.franquiaActive].unidade }}" />

                                        </div> <!-- ROW -->

                                    </form>

                                </div><!-- .card-tools -->
                            </div><!-- .card-title-group -->
                        
                        </div><!-- .card-inner -->
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->  
                
                <div class="row g-gs">
                    <div class="col-12">
                        <div class="card card-bordered h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">Visão Geral das Vendas</h6>
                                        <p>Para visualizar as vendas de uma unidade, navegue até <a href="/franquia/vendas/list">Franquia > Vendas > Consulta</a></p>
                                    </div>
                                    <div class="card-tools d-none">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-primary btn-dim d-none d-sm-inline-flex" data-bs-toggle="dropdown"><em class="icon ni ni-download-cloud"></em><span><span class="d-none d-md-inline">Download</span> Relatório</span></a>
                                            <a href="#" class="btn btn-icon btn-primary btn-dim d-sm-none" data-bs-toggle="dropdown"><em class="icon ni ni-download-cloud"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="javascript:void(0);"><span>Versão Resumida</span></a></li>
                                                    <li><a href="javascript:void(0);"><span>Versão Detalhada</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">{{ controller.conteudo.vendas.total }}</span>
                                        <span class="d-block small text-muted">Quantidade</span>
                                    </div>

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">R$ {{ controller.conteudo.vendas.faturamento|number_format(2, ',', '.') }}</span>
                                        <span class="d-block small text-muted">Faturamento</span>
                                    </div>                                 

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">R$ {{ controller.conteudo.vendas.media_diaria|number_format(2, ',', '.') }}</span>
                                        <span class="d-block small text-muted">Média Diária</span>
                                    </div>                                     
                                    
                                    <div class="nk-sale-data text-center">
                                        <span class="amount">R$ {{ controller.conteudo.vendas.ticket_medio|number_format(2, ',', '.') }}</span>
                                        <span class="d-block small text-muted">Ticket Médio</span>
                                    </div>

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">R$ {{ controller.conteudo.vendas.descontos|number_format(2, ',', '.') }}</span>
                                        <span class="d-block small text-muted">Descontos Concedidos</span>
                                    </div>
                                    
                                </div>
                                <div class="nk-sales-ck large pt-4">
                                    <canvas class="sales-overview-chart" id="salesOverview"></canvas>
                                </div>

                                <input type="hidden" id="grafico_total" value="{{ controller.conteudo.vendas_grafico.total }}" />
                                <input type="hidden" id="grafico_faturamento" value="{{ controller.conteudo.vendas_grafico.faturamento }}" />
                                <input type="hidden" id="grafico_periodo" value="{{ controller.conteudo.vendas_grafico.periodo }}" />
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->

                    <div class="col-12">

                        <div class="card card-bordered h-100">
                            <div class="card-inner pt-0">

                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#tabTopCategorias">Categorias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tabGrades">Grades</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tabProdutos">Produtos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tabRanking">Vendedores</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#tabCompras">Compras</a>
                                    </li>
                                </ul>
                                <div class="tab-content">

                                    <div class="tab-pane active" id="tabTopCategorias">
                                        <div class="card-title-group align-start gx-3 mb-4">
                                            <div class="card-title">
                                                <h6 class="title">Categorias Mais Vendidas (Top 5)(un)</h6>
                                            </div>
                                        </div>
                                        <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                            {% for ranking_categorias in controller.conteudo.categorias_ranking %}
                                                <div class="nk-sale-data text-center">
                                                    <span class="text-muted fs-7">({{ ranking_categorias.porcentagem|number_format(2, ',', '.') }}%)</span>
                                                    <span class="amount">{{ ranking_categorias.total }}</span>
                                                    <span class="d-block small text-muted">{{ ranking_categorias.nome }}</span>
                                                </div>
                                            {% endfor %}     
                                        </div>
                                    </div> <!-- TAB PANE -->

                                    <div class="tab-pane" id="tabGrades">
                                        <div class="card-title-group align-start gx-3 mb-4">
                                            <div class="card-title">
                                                <h6 class="title">Grades Mais Vendidas (un)</h6>
                                            </div>
                                        </div>
                                        <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                            {% for ranking_grades in controller.conteudo.grades_ranking %}
                                                <div class="nk-sale-data text-center">
                                                    <span class="text-muted display-11">({{ ranking_grades.porcentagem|number_format(2, ',', '.') }}%)</span>
                                                    <span class="amount">{{ ranking_grades.total }}</span>
                                                    <span class="d-block small text-muted">{{ ranking_grades.nome }}</span>
                                                </div>
                                            {% endfor %}     
                                        </div>
                                    </div> <!-- TAB PANE -->

                                    <div class="tab-pane" id="tabProdutos">
                                        <div class="card-title-group align-start gx-3 mb-3">
                                            <div class="card-title">
                                                <h6 class="title"><span class="me-2">Ranking de Produtos Mais Vendidos (Top 10)</span>
                                            </div>
                                        </div>
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head bg-dark">
                                                <div class="nk-tb-col">
                                                    <span class="text-white">Nome</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Categoria</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Quantidade</span>
                                                </div>
                                            </div>
                                            {% for ranking_produtos in controller.conteudo.produtos_ranking %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{ ranking_produtos.nome|raw }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ ranking_produtos.categoria }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ ranking_produtos.total }}</span>
                                                </div>                                       
                                            </div> 
                                            {% endfor %}                                   
                                        </div>
                                    </div> <!-- TAB PANE -->

                                    <div class="tab-pane" id="tabRanking">
                                        <div class="card-title-group align-start gx-3 mb-3">
                                            <div class="card-title">
                                                <h6 class="title"><span class="me-2">Ranking de Vendas por Vendedores</span>
                                            </div>
                                        </div>
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head bg-dark">
                                                <div class="nk-tb-col">
                                                    <span class="text-white">Nome</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Qtd. Vendas</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Qtd. Produtos</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Faturamento</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Ticket Médio</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Pares por Venda</span>
                                                </div>
                                            </div>
                                            {% for ranking in controller.conteudo.vendedores_ranking %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">{{ ranking.vendedor|raw }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ ranking.qtd_vendas }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ ranking.qtd_produtos }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">R$ {{ ranking.faturamento|number_format(2, ',', '.') }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">R$ {{ ranking.ticketMedio|number_format(2, ',', '.') }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ ranking.produtos_venda|number_format(2, ',', '.') }}</span>
                                                </div>                                        
                                            </div> 
                                            {% endfor %}                                   
                                        </div>
                                    </div> <!-- TAB PANE -->

                                    <div class="tab-pane" id="tabCompras">
                                        <div class="card-title-group align-start gx-3 mb-3">
                                            <div class="card-title">
                                                <h6 class="title"><span class="me-2">Compras no Período</span>
                                            </div>
                                        </div>
                                        <div class="nk-tb-list nk-tb-orders">
                                            <div class="nk-tb-item nk-tb-head bg-dark">
                                                <div class="nk-tb-col">
                                                    <span class="text-white">ID Pedido</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="text-white">Data</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Método de Pagamento</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Quantidade</span>
                                                </div>
                                                <div class="nk-tb-col tb-col-sm text-center">
                                                    <span class="text-white">Total</span>
                                                </div>
                                            </div>
                                            {% for compras in controller.conteudo.compras %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col">
                                                    <span class="tb-sub tb-amount">#{{ compras.id }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ compras.data }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ compras.metodo_pagamento }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">{{ compras.quantidade }}</span>
                                                </div>
                                                <div class="nk-tb-col text-center">
                                                    <span class="tb-sub">R$ {{ compras.total|number_format(2, ',', '.') }}</span>
                                                </div>
                                            </div> 
                                            {% endfor %}                                   
                                        </div>
                                    </div> <!-- TAB PANE -->                                    

                                </div> <!-- TAB CONTENT -->

                            </div> <!-- card inner -->
                        </div><!-- .card -->

                    </div><!-- .col -->  

                    <div class="col-12">
                        <div class="card card-bordered h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">Métricas Gerais</h6>
                                        <p>Os dados a seguir são independentes do período selecionado.</p>
                                    </div>
                                </div>
                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">{{ controller.conteudo.metricas_gerais.vendedores }}</span>
                                        <span class="d-block small text-muted">Vendedores Ativos</span>
                                    </div>

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">{{ controller.conteudo.metricas_gerais.clientes }}</span>
                                        <span class="d-block small text-muted">Clientes Ativos</span>
                                    </div>                                 

                                    <div class="nk-sale-data text-center">
                                        <span class="text-muted display-11">(R$ {{ controller.conteudo.metricas_gerais.estoque_dinheiro|number_format(2, ',', '.') }})</span>
                                        <span class="amount">{{ controller.conteudo.metricas_gerais.estoque }}</span>
                                        <span class="d-block small text-muted">Saldo de Estoque</span>
                                    </div>                                     
                                    
                                    <div class="nk-sale-data text-center">
                                        <span class="amount">{{ controller.conteudo.metricas_gerais.compra }}</span>
                                        <span class="d-block small text-muted">Última Compra</span>
                                    </div>

                                    <div class="nk-sale-data text-center">
                                        <span class="amount">{{ controller.conteudo.metricas_gerais.venda }}</span>
                                        <span class="d-block small text-muted">Última Venda</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->                    

                </div><!-- .row -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/dashboards/franquias/micro-analise.js"></script>
<script>
$(function(){
	//qv_create.init("#formCreate");
});
</script>

