<div class="card-inner card-inner-lg">
    <div class="nk-block-head nk-block-head-lg pb-2">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Franquias</h4>
                <div class="nk-block-des">
                    <p>Abaixo suas franquias listadas para acesso a informações básicas e configurações.</p>
                </div>
            </div>
            <div class="nk-block-head-content align-self-start d-lg-none">
                <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        {% for franquia in controller.conteudo.itens %}
        {% if franquia.qvemcasa_whatsapp == 1 %}
        {% set qvemcasa_whatsapp = ['selected="selected"',''] %}
        {% else %}
        {% set qvemcasa_whatsapp = ['','selected="selected"'] %}
        {% endif %}
        <div class="card card-bordered cardFranquias mb-3" data-idUnidade="{{ franquia.unidade_id }}">
            <div class="card-header border-bottom">
                <h4 class="display-10 text-center mb-0">{{ franquia.nome }}</h4>
            </div>
            <div class="card-inner-group">
                <div class="card-inner py-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#tabItem1_{{ franquia.unidade_id }}">Informações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tabItem2_{{ franquia.unidade_id }}">QV em Casa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tabItem3_{{ franquia.unidade_id }}">Config. Fiscais</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabItem1_{{ franquia.unidade_id }}">
                            <dl class="row">
                                <dt class="col-sm-3">Nome Fantasia</dt>
                                <dd class="col-sm-9">{{ franquia.nome_fantasia }}</dd>
                                
                                <dt class="col-sm-3">Razão Social</dt>
                                <dd class="col-sm-9">{{ franquia.razao_social }}</dd>
                                
                                <dt class="col-sm-3">CNPJ</dt>
                                <dd class="col-sm-9">{{ franquia.cnpj }}</dd>
                            </dl>                            
                        </div>
                        <div class="tab-pane" id="tabItem2_{{ franquia.unidade_id }}">
                            <form method="post" name="formQVEmCasa" class="formQVEmCasa">
                                <div class="row g-4">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="qvemcasa_whatsapp">Mostrar WhatsApp</label>
                                            <div class="form-control-wrap ">
                                                <select name="qvemcasa_whatsapp" id="qvemcasa_whatsapp" class="form-control qvSelect2_noSearch" required>
                                                    <option></option>
                                                    <option value="1" {{ qvemcasa_whatsapp[0] | raw }}>Sim</option>
                                                    <option value="0" {{ qvemcasa_whatsapp[1] | raw }}>Não</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label class="form-label" for="qvemcasa_frase">Frase de Destaque</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="qvemcasa_frase" name="qvemcasa_frase" placeholder="Escreva frase que aparecerá no seu perfil..." value="{{ franquia.qvemcasa_frase_destaque }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label" for="linkQVEmCasa">Meu Link do QV em Casa</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="linkQVEmCasa" id="linkQVEmCasa" value="https://qvemcasa.com.br/{{ franquia.slug }}" readonly>
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-secondary btn-dim copiarAreaTransferencia" data-alvo="https://qvemcasa.com.br/{{ franquia.slug }}" title="Copiar Link de QV em Casa">
                                                        <em class="icon ni ni-copy"></em>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>        
                                    </div>
                                </div> <!-- ROW -->
                                <hr class="preview-hr mt-4 mb-2">
                                <div class="row gy-4 mb-4">
                                    <div class="col-12">
                                        <div class="form-group text-end">
                                            <input type="hidden" name="formAcao" id="formAcao" value="qvemcasa" />
                                            <input type="hidden" name="idUnidade" id="idUnidade" value="{{ franquia.unidade_id }}" />
                                            <input type="hidden" name="qv_url_path" id="qv_url_path" value="{{ url.uri }}" />
                                            <button type="submit" class="btn btn-primary w-xs-100 d-inline">Salvar</button>
                                        </div>
                                    </div>                                        
                                </div> <!-- ROW -->                                
                            </form>
                        </div> <!-- TAB PANE -->
                        <div class="tab-pane" id="tabItem3_{{ franquia.unidade_id }}">
                            <form method="post" name="formFiscal" class="formFiscal">
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="regime_tributario">Regime Tributário</label>
                                            <div class="form-control-wrap ">
                                                <select name="regime_tributario" id="regime_tributario_{{ loop.index }}" class="form-control qvSelect2_noSearch regime_tributario" required>
                                                    <option></option>
                                                    <option value="Simples Nacional">Simples Nacional</option>
                                                    <option value="Simples Nacional - Excesso de Sublimite de Receita Bruta">Simples Nacional - Excesso de Sublimite de Receita Bruta</option>
                                                    <option value="Regime Normal">Regime Normal</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="icms_situacao_tributaria">ICMS - Situação Tributária</label>
                                            <div class="form-control-wrap ">
                                                <select name="icms_situacao_tributaria" id="icms_situacao_tributaria_{{ loop.index }}" class="form-control qvSelect2_noSearch icms_situacao_tributaria">
                                                    <option></option>
                                                    <optgroup label="Optantes do Simples">
                                                        <option value="102">102 – Tributada pelo Simples Nacional sem permissão de crédito</option>
                                                        <option value="300">300 - Imune</option>
                                                        <option value="500">500 - CMS cobrado anteriormente por substituição tributária (substituído) ou por antecipação</option>
                                                    </optgroup>
                                                    <optgroup label="Não Optantes do Simples">
                                                        <option value="00">00 – Tributada integralmente</option>
                                                        <option value="40">40 – Isenta integralmente</option>
                                                        <option value="41">41 – Não tributada</option>
                                                        <option value="60">60 - ICMS cobrado anteriormente por substituição tributária</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>                                     
                                    <div class="col-lg-6">
                                        <label class="form-label" for="icms_aliquota">Alíquota ICMS</label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <input type="text" class="form-control maskNumber icms_aliquota" name="icms_aliquota" id="icms_aliquota" placeholder="0,00" autocomplete="off">
                                                <div class="input-group-append" title="Markup">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- COL -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label" for="icms_modalidade_base_calculo">Modalidade Base Cálculo ICMS</label>
                                            <div class="form-control-wrap ">
                                                <select name="icms_modalidade_base_calculo" id="icms_modalidade_base_calculo_{{ loop.index }}" class="form-control qvSelect2_noSearch icms_modalidade_base_calculo">
                                                    <option></option>
                                                    <option value="0">0 – Margem de valor agregado (%)</option>
                                                    <option value="1">1 – Pauta (valor)</option>
                                                    <option value="2">2 – Preço tabelado máximo (valor)</option>
                                                    <option value="3">3 – Valor da operação</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                </div> <!-- ROW -->
                                <hr class="preview-hr mt-4 mb-2">
                                <div class="row gy-4 mb-4">
                                    <div class="col-12">
                                        <div class="form-group text-end">
                                            <input type="hidden" name="formAcao" id="formAcao" value="dadosFiscaisUpdate" />
                                            <input type="hidden" name="idUnidade" id="idUnidade" value="{{ franquia.unidade_id }}" />
                                            <input type="hidden" name="qv_url_path" id="qv_url_path" value="{{ url.uri }}" />
                                            <button type="submit" class="btn btn-primary w-xs-100 d-inline">Salvar</button>
                                        </div>
                                    </div>                                        
                                </div> <!-- ROW -->
                            </form>
                        </div>
                    </div>                    
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
        {% endfor %}
    </div><!-- .nk-block -->
</div><!-- .card-inner -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/minha-conta/franquias.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){
    qvemcasa.init();
    qvFiscal.init();
});
</script>