{% set venda = controller.conteudo.VENDA %}
{% set dadosPagamento = controller.conteudo.DADOS_PAGAMENTO %}
{% set produtos = controller.conteudo.PRODUTOS %}
{% set vendedores = controller.conteudo.VENDEDORES %}
{% if venda.tipoDesconto == 'Nenhum' %}
{% set desconto = "-" %}
{% else %}
{% set desconto = (venda.valorBruto - venda.valorLiquido)|format_currency('BRL', {rounding_mode: 'floor'}) %}
{% endif %}

{% if venda.nfNumero is empty %}
{% set notaFiscal = "-" %}
{% else %}
{% set notaFiscal = venda.nfNumero %}
{% endif %}

{% if venda.vendedor is empty %}
{% set vendedor = "-" %}
{% else %}
{% set vendedor = venda.vendedor %}
{% endif %}

<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Vendas / <strong class="text-primary small">Editando Venda</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela para realizar alterações na venda.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-2">

                                    {% if authentication.franquias[authentication.franquiaActive].tipo_franquia == 'Loja' %}
                                    <li class="w-xs-100">
                                        <a href="javascript:void(0);" id="btVendaConsumidor" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Venda para Consumidor">
                                            <em class="icon ni ni-user-alt-fill"></em>
                                            <span class="d-none d-sm-inline-block">Consumidor</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% if venda.status != 'Cancelada' and venda.status != 'Deletada' %}
                                    <li class="w-xs-100"><a href="#modalConsultaClientes" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-bs-toggle="modal" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Listagem de Clientes"><em class="icon ni ni-search"></em><span class="d-none d-sm-inline-block">Pesquisar Cliente</span></a></li>
                                    {% endif %}

                                    <li class="w-xs-100"><a href="#modalVendasHistorico" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-bs-toggle="modal" data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Histórico da Venda" data-idVenda="{{ venda.id }}"><em class="icon ni ni-history"></em></a></li>

                                    <li class="w-xs-100"><a href="/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/list" class="btn btn-white btn-outline-light w-xs-100 d-inline"><em class="icon ni ni-curve-up-left"></em><span class="d-none d-sm-inline-block">Voltar</span></a></li> 
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->                    
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered">                   
                    <div class="card-inner">

                        <div class="row mb-0 cardIndicadores">
                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeDataVenda">{{ venda.dataVenda }}</h5>
                                        <h5 class="card-title display-11">Data da Venda</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->   

                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeTotalLiquido">{{ venda.totalLiquido|format_currency('BRL', {rounding_mode: 'floor'}) }}</h5>
                                        <h5 class="card-title display-11">Total Líquido</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->

                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeTotalBruto">{{ venda.totalBruto|format_currency('BRL', {rounding_mode: 'floor'}) }}</h5>
                                        <h5 class="card-title display-11">Total Bruto</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->
                            
                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeDesconto">{{ desconto }}</h5>
                                        <h5 class="card-title display-11">Descontos</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->                            

                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeDocumentoFiscal">
                                            {% if venda.nfStatus == 'Emitida' %}
                                            <a href="{{ 'https://api.focusnfe.com.br' ~ venda.nfURL }}">
                                                {{ notaFiscal }} 
                                                <em class="icon ni ni-external"></em>
                                            </a>
                                            {% else %} 
                                                <span class="my-0 small text-danger">({{ venda.nfStatus }})</span>
                                            {% endif %}
                                        </h5>
                                        <h5 class="card-title display-11">Documento Fiscal</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->  
                            
                            <div class="col-md-2 col-6 text-center mb-2 p-1">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h5 class="display-11 fw-normal" id="recebeVendedor">{{ vendedor }}</h5>
                                        <h5 class="card-title display-11">Vendedor</h5>
                                    </div>
                                </div> <!-- CARD -->                                
                            </div> <!-- COL -->    
                            
                        </div> <!-- ROW -->

                        <hr class="mt-0" />

                        <div class="card-head mb-4 block_DadosCliente">
                            <h5 class="card-title mb-0 py-1">Dados Básicos</h5>                         
                        </div>                         
                        <form method="post" name="formUpdateVenda" id="formUpdateVenda">
                            <div class="row g-4">
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_cpf">CPF</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskCPF" id="C_cpf" name="C_cpf" placeholder="000.000.000-00" value="{{ venda.cpf }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_nome">Nome</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="C_nome" name="C_nome" placeholder="Nome Completo..." value="{{ venda.nome }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_nascimento">Nascimento</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskData" id="C_nascimento" name="C_nascimento" value="{{ venda.nascimento }}" placeholder="00/00/0000">
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_sexo">Sexo</label>
                                        <div class="form-control-wrap ">
                                            <select name="C_sexo" id="C_sexo" class="form-control qvSelect2_noSearch" required>
                                                <option></option>
                                                <option value="Feminino" {% if venda.sexo == 'Feminino' %}{{ 'selected="selected"' }}{% endif %}>Feminino</option>
                                                <option value="Masculino" {% if venda.sexo == 'Masculino' %}{{ 'selected="selected"' }}{% endif %}>Masculino</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_tamanho">Tamanho do Calçado</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="C_tamanho" name="C_tamanho" maxlength="2" placeholder="Ex: 36" value="{{ venda.tamanho }}" required>
                                        </div>
                                    </div>
                                </div>                                                              
                                <div class="col-lg-4 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_telefone">Telefone/Celular</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control maskTelefone" id="C_telefone" name="C_telefone" placeholder="(00) 00000-0000" value="{{ venda.telefone}}" required>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-8 block_DadosCliente">
                                    <div class="form-group">
                                        <label class="form-label" for="C_email">E-mail</label>
                                        <div class="form-control-wrap">
                                            <input type="email" class="form-control" id="C_email" name="C_email" placeholder="nome@provedor.com.br" value="{{ venda.email }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card-head mt-4 mb-0">
                                        <div class="row w-100">
                                            <div class="col-6 col-md-9">
                                                <h5 class="card-title mb-0 py-1">Dados de Pagamento</h5>
                                            </div> <!-- COL -->
                                            {% if venda.status != 'Cancelada' and venda.status != 'Deletada' %}
                                            <div class="col-6 col-md-3 d-flex justify-content-end">
                                                <div class="btn-group" aria-label="Modificadores de Formas de Pagamento">
                                                    <button type="button" class="btn btn-secondary" id="btAutoFillPagamentos" data-status="ativado" data-bs-tooltip="tooltip" data-bs-placement="left" title="Auto Preencher Valores - Ativado">
                                                        <em class="icon ni ni-edit-fill"></em>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btFormasPagamentos" data-bs-tooltip="tooltip" data-bs-placement="left" title="Remover Forma de Pagamento" data-acao="remover">
                                                        <em class="icon ni ni-minus-circle"></em>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btFormasPagamentos" data-bs-tooltip="tooltip" data-bs-placement="left" title="Adicionar Forma de Pagamento" data-acao="adicionar">
                                                        <em class="icon ni ni-plus-circle"></em>
                                                    </button>
                                                </div>
                                            </div> <!-- COL -->
                                            {% endif %}
                                        </div> <!-- ROW -->
                                    </div>                                     
                                </div>
                                <div class="col-12" id="recebeFormasPagamento">
                                    {% for DP in dadosPagamento %}
                                    {% set metodosPagamento_Vista = ['Dinheiro','Pix','Cartão Débito','Boleto'] %}
                                    {% if DP.metodoPagamento in metodosPagamento_Vista %}
                                    {% set desativarFP_Parcelada = 'disabled="disabled"' %}
                                    {% else %}
                                    {% set desativarFP_Parcelada = '' %}
                                    {% endif %}
                                    <div class="row linhaFormaPagamento" data-linha="{{ loop.index }}">
                                        <div class="col-lg-3 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_metodoPagamento_{{ loop.index }}">Método de Pagamento</label>
                                                <div class="form-control-wrap ">
                                                    <select name="C_metodoPagamento[]" id="C_metodoPagamento_{{ loop.index }}" class="form-control qvSelect2_noSearch C_metodoPagamento" required>
                                                        <option></option>
                                                        <option value="Dinheiro" {% if DP.metodoPagamento == 'Dinheiro' %}{{ 'selected="selected"' }}{% endif %}>Dinheiro</option>
                                                        <option value="Pix" {% if DP.metodoPagamento == 'Pix' %}{{ 'selected="selected"' }}{% endif %}>Pix</option>
                                                        <option value="Cartão Débito" {% if DP.metodoPagamento == 'Cartão Débito' %}{{ 'selected="selected"' }}{% endif %}>Cartão Débito</option>
                                                        <option value="Cartão Crédito" {% if DP.metodoPagamento == 'Cartão Crédito' %}{{ 'selected="selected"' }}{% endif %}>Cartão Crédito</option>
                                                        <option value="Boleto" {% if DP.metodoPagamento == 'Boleto' %}{{ 'selected="selected"' }}{% endif %}>Boleto</option>
                                                        <option value="Cheque" {% if DP.metodoPagamento == 'Cheque' %}{{ 'selected="selected"' }}{% endif %}>Cheque</option>
                                                        <option value="Carnê" {% if DP.metodoPagamento == 'Carnê' %}{{ 'selected="selected"' }}{% endif %}>Carnê</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_formaPagamento_{{ loop.index }}">Forma de Pagamento</label>
                                                <div class="form-control-wrap ">
                                                    <select name="C_formaPagamento[]" id="C_formaPagamento_{{ loop.index }}" class="form-control qvSelect2_noSearch C_formaPagamento" required>
                                                        <option></option>
                                                        <option value="À Vista" {% if DP.formaPagamento == 'À Vista' %}{{ 'selected="selected"' }}{% endif %}>À Vista</option>
                                                        <option value="Parcelada" {% if DP.formaPagamento == 'Parcelada' %}{{ 'selected="selected"' }}{% endif %} {{ desativarFP_Parcelada }}>Parcelada</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>                                         
                                        <div class="col-lg-2 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_parcelas_{{ loop.index }}">
                                                    Parcelas 
                                                    <span class="text-muted recebeValorParcela" style="font-size:68%;">(R$ {{ (DP.valor / DP.parcelas)|number_format(2, ',', '.') }})</span>
                                                </label>
                                                <div class="form-control-wrap number-spinner-wrap">
                                                    <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="qv_minus"><em class="icon ni ni-minus"></em></button>
                                                    <input type="number" id="C_parcelas_{{ loop.index }}" name="C_parcelas[]" class="form-control number-spinner C_parcelas" value="{{ DP.parcelas }}" min="1" max="12" required>
                                                    <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="qv_plus"><em class="icon ni ni-plus"></em></button>
                                                </div>                                        
                                            </div>
                                        </div> 
                                        <div class="col-lg-2 col-6 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_vencimento_{{ loop.index }}">Vencimento</label>
                                                <a href="#modalVencimentoExplicacao" data-bs-toggle="modal" data-bs-placement="top" title="Explicação"><em class="icon ni ni-info-fill"></em></a>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control maskData C_vencimento" id="C_vencimento_{{ loop.index }}" name="C_vencimento[]" value="{{ DP.vencimento }}" placeholder="00/00/0000">
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-lg-2 mb-2">
                                            <div class="form-group">
                                                <label class="form-label" for="C_valor_{{ loop.index }}">Valor Total (R$)</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control maskNumber C_valor" name="C_valor[]" id="C_valor_{{ loop.index }}" placeholder="0,00" autocomplete="off" value="{{ DP.valor|number_format(2, ',', '.') }}" required>
                                                </div>
                                            </div>
                                        </div>  
                                        <hr class="my-3 d-block d-sm-none" />
                                    </div> <!-- ROW -->
                                    {% endfor %}
                                </div> <!-- COl -->
                               
                                <div class="col-12">
                                    <div class="card-head mt-4 mb-0">
                                        <h5 class="card-title">Descontos</h5>
                                    </div>                                     
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="C_descontoTipo">Tipo de Desconto</label>
                                        <div class="form-control-wrap ">
                                            <select name="C_descontoTipo" id="C_descontoTipo" class="form-control qvSelect2_noSearch" required>
                                                <option value="Nenhum" {% if venda.tipoDesconto == 'Nenhum' %}{{ 'selected="selected"' }}{% endif %}>Nenhum</option>
                                                <option value="Valor" {% if venda.tipoDesconto == 'Valor' %}{{ 'selected="selected"' }}{% endif %}>Valor</option>
                                                <option value="Porcentagem" {% if venda.tipoDesconto == 'Porcentagem' %}{{ 'selected="selected"' }}{% endif %}>Porcentagem</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4 col-6 mb-3">
                                    <div class="form-group">
                                        <label class="form-label" for="C_desconto">Desconto</label>
                                        <div class="form-control-wrap">
                                            <div class="input-group">
                                                <input type="text" class="form-control maskNumberAlt" id="C_desconto" name="C_desconto" placeholder="0,00" value="{{ venda.desconto }}" required>
                                                <div class="input-group-append">
                                                    <button type="button" id="btAplicarDesconto" class="btn btn-outline-primary btn-dim">Aplicar</button>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-12">
                                    <div class="card-head mt-2 mb-0">
                                        <div class="row w-100">
                                            <div class="col-6 col-md-9">
                                                <h5 class="card-title mb-0 py-1">Produtos</h5>
                                            </div> <!-- COL -->
                                            {% if venda.status != 'Cancelada' and venda.status != 'Deletada' %}
                                            <div class="col-6 col-md-3 d-flex justify-content-end">
                                                <div class="btn-group" aria-label="Modificadores de Formas de Pagamento">
                                                    <a href="#modalConsultaProdutos" data-parametro="sku" class="btn btn-light" data-bs-toggle="modal" data-bs-tooltip="tooltip" data-bs-placement="left" title="Bipar Caixas">
                                                        <i class="far fa-scanner-gun px-2"></i>
                                                    </a>
                                                    <a href="#modalConsultaProdutos" data-parametro="nome" class="btn btn-light" data-bs-toggle="modal" data-bs-tooltip="tooltip" data-bs-placement="left" title="Pesquisar Produto" data-acao="adicionar">
                                                        <i class="far fa-search px-2"></i>
                                                    </a>
                                                </div>
                                            </div> <!-- COL -->
                                            {% endif %}
                                        </div> <!-- ROW -->
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="tableProdutos">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col" class="text-center w-15">Foto</th>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col" class="text-center">Preço</th>
                                                    <th scope="col" class="text-center">Quantidade</th>
                                                    <th scope="col" class="text-center w-15">Total</th>
                                                    <th scope="col" class="text-center {% if venda.status == 'Cancelada' or venda.status == 'Deletada' %}{{ 'd-none' }}{% endif %}">Opções</th>
                                                </tr>
                                            </thead>
                                            <tbody id="recebeProdutosVenda">
                                                {% for produto in produtos %}
                                                {% if produto.estoque.ITENS[0].SALDO < 0 %}
                                                {% set produtoEstoqueSaldo = 0|trim %}
                                                {% else %}
                                                {% set produtoEstoqueSaldo = produto.estoque.ITENS[0].SALDO|trim %}
                                                {% endif %}
                                                <tr class="row-vertical-align linhaProdutos" data-idItem="{{ produto.idItem }}">
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td class="text-center">
                                                        <img src="{{ produto.foto }}" class="img-fluid w-40" />
                                                    </td>
                                                    <td>{{ produto.nome ~ ' (' ~ produto.tamanho ~ ')' }} <br> <span class="small text-muted"><b>SKU:</b> {{ produto.sku }}</span></td>
                                                    <td class="text-center">{{ produto.preco |format_currency('BRL', {rounding_mode: 'floor'}) }}</td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap number-spinner-wrap">
                                                                <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="qv_minus"><em class="icon ni ni-minus"></em></button>
                                                                <input type="number" id="prod_quantidade" name="prod_quantidade[]" class="form-control number-spinner prod_quantidade" value="{{ produto.quantidade }}" min="1" max="{{ produto.quantidade + produtoEstoqueSaldo }}" required>
                                                                <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="qv_plus"><em class="icon ni ni-plus"></em></button>
                                                            </div> 
                                                        </div>
                                                    </td>
                                                    <td class="text-center tdRecebePrecoTotal">{{ produto.precoTotal|format_currency('BRL', {rounding_mode: 'floor'}) }}</td>
                                                    <td class="{% if venda.status == 'Cancelada' or venda.status == 'Deletada' %}{{ 'd-none' }}{% endif %}">
                                                        <a href="javascript:void(0);" class="btn btn-danger QV_RemoverItemCarrinho"  data-idItem="{{ produto.idItem }}">
                                                            <em class="icon ni ni-delete-fill"></em>
                                                        </a>
                                                        <input type="hidden" name="prodID[]" class="prodID" value="{{ produto.id }}" />
                                                        <input type="hidden" name="prodSKU[]" class="prodSKU" value="{{ produto.sku }}" />
                                                        <input type="hidden" name="prodCOR[]" class="prodCOR" value="{{ produto.cor }}" />
                                                        <input type="hidden" name="prodTAMANHO[]" class="prodTAMANHO" value="{{ produto.tamanho }}" />
                                                        <input type="hidden" name="prodQTD[]" class="prodQTD" value="{{ produto.quantidade }}" />
                                                        <input type="hidden" name="prodPRECO[]" class="prodPreco" value="{{ produto.preco }}" />
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div> <!-- RESPONSIVE TABLE -->
                                </div>

                                <div class="col-12">
                                    <div class="card-head mt-2 mb-0">
                                        <h5 class="card-title">Extras</h5>
                                    </div>                                     
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="vendedor">Vendedor</label>
                                        <div class="form-control-wrap ">
                                            <select name="vendedor" id="vendedor" class="form-control qvSelect2_noSearch" required>
                                                {% for vendedores in vendedores %}
                                                <option value="{{ vendedores.id }}" {% if vendedores.id == venda.vendedor_id %}{{ "selected='selected'" }}{% endif %}>{{ vendedores.nome }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-6">
                                    <div class="form-group">
                                        <label class="form-label" for="status">Status</label>
                                        <div class="form-control-wrap ">
                                            <select name="status" id="status" class="form-control qvSelect2_noSearch" required>
                                                <option value="Concluída" {% if venda.status == 'Concluída' %}{{ "selected='selected'" }}{% endif %}>Concluída</option>
                                                <option value="Pendente" {% if venda.status == 'Pendente' %}{{ "selected='selected'" }}{% endif %}>Pendente</option>
                                                <option value="Agendada" {% if venda.status == 'Agendada' %}{{ "selected='selected'" }}{% endif %}>Agendada</option>
                                                <option value="Cancelada" {% if venda.status == 'Cancelada' %}{{ "selected='selected'" }}{% endif %}>Cancelada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="observacoes">Observações</label>
                                        <div class="form-control-wrap">
                                            <textarea name="observacoes" id="observacoes" class="form-control no-resize" cols="4" placeholder="Preencha este campo com informações importantes sobre esta venda, se necessário.">{{ venda.observacoes }}</textarea>
                                        </div>
                                    </div>
                                </div>                                                     
                                <div class="col-12">
                                    <hr />

                                    <input type="hidden" name="formAcao" id="formAcao" value="updateVenda" />
                                    <input type="hidden" name="idCliente" id="idCliente" value="{{ venda.idCliente }}" />
                                    <input type="hidden" name="idVenda" id="idVenda" value="{{ venda.id }}" />
                                    <input type="hidden" name="totalDesconto" id="totalDesconto" />
                                    <input type="hidden" name="totalBruto" id="totalBruto" value="{{ venda.totalBruto }}" />
                                    <input type="hidden" name="totalLiquido" id="totalLiquido" value="{{ venda.totalLiquido }}" />
                                    <input type="hidden" name="qv_url_path" id="qv_url_path" value="{{ url.uri }}" />
                                    <div class="row">
                                        <div class="col-md-12 order-md-2 order-1 mb-2">
                                            <div class="form-group text-end">
                                                {% if venda.status != 'Cancelada' and venda.status != 'Deletada' %}
                                                    <button type="submit" class="btn btn-lg w-xs-100 btn-primary">Salvar Alterações</button>
                                                {% endif %}
                                            </div> <!-- FORM GROUP -->
                                        </div>
                                    </div> <!-- ROW -->
                                </div>
                            </div>
                        </form>                          
                    </div>
                </div>
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

{% if venda.status == 'Cancelada' or venda.status == 'Deletada' %}
<div class="fixed-bottom">
    <div class="alert alert-fill alert-danger alert-icon" role="alert">
        <em class="icon ni ni-alert-circle"></em> 
        <strong>Venda Cancelada</strong>
    </div> 
</div>
{% endif %} 

<div class="fixed-bottom d-none" id="alertaFormasPagamento">
    <div class="alert alert-fill alert-danger alert-icon" role="alert">
        <em class="icon ni ni-alert-circle"></em> 
        <strong>A somatória das Formas de Pagamento</strong> não batem com o valor total da venda. Por favor revise os valores digitados.
    </div> 
</div>

<!-- select region modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="modalConsultaClientes">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#modalConsultaClientes" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-0">Consulta de Clientes</h5>
                <div class="row mt-3">
                    <div class="col-12">

                        <div class="form-control-wrap mb-2">
                            <div class="input-group">
                                <input type="text" name="QV_buscadorClientes" id="QV_buscadorClientes" class="form-control" placeholder="Digite o Nome ou CPF do Cliente...">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-success btn-dim" id="BT_enviarBuscadorCliente" data-idCliente>
                                        <em class="icon ni ni-check-thick"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <ul class="custom-control-group custom-control-vertical custom-control-stacked w-100" id="recebeConsultaClientes">
                        </ul>                            
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- select region modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="modalVencimentoExplicacao">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#modalVencimentoExplicacao" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-0">Vencimento de Parcelas</h5>
                <div class="row mt-3">
                    <div class="col-12">
                        <p>Caso sua venda possua <b>mais de uma parcela</b>, o <b>dia</b> escolhido para vencimento <b>será o mesmo</b> para os meses subsequentes.</p>
                        <p>Desta maneira será possível enxergar no  <b>Módulo Financeiro</b>, todos os <b>vencimentos futuros</b> provenientes desta venda.
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- select region modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="modalConsultaProdutos">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#modalConsultaProdutos" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h5 class="title mb-0">Consulta de Produtos</h5>
                <div class="row mt-3">
                    <div class="col-12">

                        <div class="form-control-wrap mb-2">
                            <div class="input-group">
                                <input type="text" name="QV_buscadorProdutos" id="QV_buscadorProdutos" class="form-control" placeholder="Digite o que procura..." data-parametro="sku" maxlength="14" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" anpaste="sku_bipe(this);">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-success btn-dim" id="BT_enviarBuscadorProdutos" data-idCliente>
                                        <em class="icon ni ni-check-thick"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <ul class="custom-control-group custom-control-vertical custom-control-stacked w-100" id="recebeConsultaProdutos">
                        </ul>                            
                    </div>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- Modal Alert -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalVendaFinalizada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Venda Finalizada!</h4>
                    <div class="nk-modal-text">
                        <div class="caption-text">Financeiro  e Estoque foram atualizados.</div>
                        <span class="sub-text-sm">Confira as movimentações de estoque <a href="/franquia/estoque/list">clicando aqui.</a></span>
                    </div>
                    <div class="nk-modal-action">
                        {% if authentication.franquias[authentication.franquiaActive].emissaoFiscal == true %}
                        <a href="javascript:(0);" id="btRe_EmitirDocumentoFiscal" data-idVenda="" class="btn btn-lg btn-mw btn-secondary"><em class="icon ni ni-printer me-1"></em> Reemitir Documento Fiscal</a>
                        {% endif %}
                        <a href="#" class="btn btn-lg btn-mw btn-primary" data-bs-dismiss="modal">Fechar</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p><b>Vitrine QV</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL HISTORICO VENDA -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" id="modalVendasHistorico">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-header">
                <h5 class="modal-title">Histórico da Venda</h5>
            </div>            
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="tableProdutos">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="text-center w-20">Data</th>
                                <th scope="col" class="text-center w-20">Usuário</th>
                                <th scope="col">Descrição</th>
                            </tr>
                        </thead>
                        <tbody id="recebeHistoricoVenda">
                        </tbody>
                    </table>
                </div> <!-- RESPONSIVE TABLE -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/franquia/vendas/vendas.js"></script>
<script src="/assets/js/views/franquia/vendas/shopcart.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){

    qv_checkout.init("#formUpdateVenda");
    $("#btAplicarDesconto").trigger('click');
	  
});
</script>